@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald&family=Rubik:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #111;
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    place-items: center;
    grid-template-columns: 150px auto;
    background-color:  #216224;
    font-family: "Oswald", Helvetica, sans-serif;
    opacity: 80%;
}

nav {
    display: flex;
    justify-content: space-around;
    justify-self: end;
    place-items: end;
}

nav a {
    color : #e8e8e8;
    text-decoration: none;
    padding: 20px 20px;
    align-self: center;
    border-radius: 15px;
    margin-right: 20px;
}

nav a:hover {
    color : #43B187;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px #e8e8e8;
}

.logo {
    margin: 10px 0;
    width: 80px;
}

#logo_link:hover {
    background-color: #216224;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.background{
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
    width: 98.7vw;
    z-index: -1;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px 60vh 1fr;
}

.container h1,h3{
    margin: 5px;
    text-align: center;
}

#contactme_id{
    grid-column: 2/3;
    grid-row: 1/2;
    color:#e8e8e8;
    align-self: center;
}

.form-grid{
    display: grid;
    grid-template-columns: 47vw 47vw;
    grid-template-rows: 10vh 30vh 10vh;
    grid-gap: 10px;
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #222222BB;
    margin: 0 20px;
}
.form-grid p{
    font-size: 14px;
    font-family: Rubik, Helvetica, sans-serif;
    color: white;
    text-align:center;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 10px 50px;
}
.contact-message{
    margin: 20px;
    grid-column: 1/2;
    grid-row: 1/4;
    color: white;
}

.contact-message p{
    font-size: 14px;
    font-family: Rubik, Helvetica, sans-serif;
    text-align:center;
    margin: 10px;
}

.contact-message h5{
    font-family: Rubik, Helvetica, sans-serif;
    text-align:center;
    margin: 10px;
}

.contact-message li{
    font-family: Rubik, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 10vw 0px 10vw;
    text-align:center;
}

.form-grid ul{
    list-style-type: none;
    text-align:center;
    color: white;
}

.form-grid input{
    margin-right: 250px;
    float:right;
}

#container-form{
    grid-column: 2/4;
    grid-row: 2/3;
}

.social-media-grid{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 60px 30vh;
    grid-gap: 10px;
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 0 30px;
    margin: 0 auto;
    
}

.social-media-grid h4{
    grid-column: 1/4;
    grid-row: 1/2;
    color:#e8e8e8;
    align-self: center;
    text-align:center;
}

.social-media-grid img, .social-media-grid a{ 
    height: 25vh;
    align-self: center;
    margin: 0 auto;
}

.footer {
    display: flex;
    background-color:  #216224;
    color: #e8e8e8;
    text-align: center;
    font-size: 1.2em;
    padding: 25px 50px;
    align-items: center;
    justify-content: space-around;
}

footer p{
    background-color:  #216224;
}

footer p a:hover {
    text-decoration: underline;
}  

footer a {
    color: #e8e8e8;
    text-decoration: none;
}

footer a:hover {
    color : #43B187;
    transition: 0.5s;
    transform: scale(1.1)
}

footer .social img {
    padding-top: 15px;
}

footer .social img:hover{
    transition: 1s;
    transform: scale(1.2);
}


.social img {
    width: 50px;
    margin: 0 10px;
    display:inline;
}

#logo_link {
    padding-top: 5px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .mountain-card, .cascade-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}